{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit research project{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit research project{% endtrans %}</h1>

    {{ include('research_project/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('research_project/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('research_project_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}