{% extends 'base.html.twig' %}

{% block title %}{% trans %}Research project index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Research project index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Reference{% endtrans %}</th>
                <th>{% trans %}Financial Entity{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
             <!--   <th>Participating Entities</th>
                <th>Duration</th>
                <th>UNESCO Codes</th>
                <th>Technological Areas</th>
                <th>CNAE Codes</th>
                <th>Picture1</th>
                <th>Picture2</th>
                <th>Picture3</th>-->
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, research_project in research_projects %}
            <tr>
                <!-- <td>{{ research_project.id }}</td> -->
                <td>{{ research_project.title }}</td>
                <td>{{ research_project.reference }}</td>
                <td>{{ research_project.financialEntity }}</td>
                <td>{{ research_project.amount }}</td>
            <!--    <td>{{ research_project.participatingEntities }}</td>
                <td>{{ research_project.duration }}</td>
                <td>{{ research_project.unescoCodes }}</td>
                <td>{{ research_project.technologicalAreas }}</td>
                <td>{{ research_project.cnaeCodes }}</td>
                <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture1 }}" class="img img-responsive img-preview thumbnail"/></td>
                <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture2 }}" class="img img-responsive img-preview thumbnail"/></td>
                <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture3 }}" class="img img-responsive img-preview thumbnail"/></td>  -->
               <!-- <td>{{ research_project.picture1 }}</td>
                <td>{{ research_project.picture2 }}</td>
                <td>{{ research_project.picture3 }}</td> -->
                <td>
                    <a href="{{ path('research_project_show', {'id': research_project.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('research_project_edit', {'id': research_project.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('research_project_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}