{% extends 'base.html.twig' %}

{% block title %}{% trans %}Research project{% endtrans %}{% endblock %}

{% block body %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">{{ research_project.title }}</h2>
    </div>
    <div>
        <p><b>{% trans %}Project reference{% endtrans %}</b>: <b>{{ research_project.reference }}</b></p>
        <p><b>{% trans %}Financial entity{% endtrans %}</b>: {{ research_project.financialEntity }}</p>
        <p><b>{% trans %}Amount{% endtrans %}</b>: {{ research_project.amount }}</p>
        <p><b>{% trans %}Participating entities{% endtrans %}</b>: {{ research_project.participatingEntities }}</p>
        <p><b>{% trans %}Duration{% endtrans %}</b>: {{ research_project.duration }}</p>
        <p>
            <b>{% trans %}Leading researcher{% endtrans %}</b>: {% if research_project.participantResponsible is not null %}
                <a
                href="{{ path('member_pub_show', {'id': research_project.participantResponsible.id}) }}">{{ research_project.participantResponsible.getFullName }}</a>{% endif %}
        </p>
        <p>
            <b>{% trans %}Participating researchers{% endtrans %}</b>: {% for participant in research_project.participants %}
                <a
                href="{{ path('member_pub_show', {'id': participant.id}) }}">{{ participant.getFullName }}</a>{% if participant != research_project.participants|last %}, {% endif %}{% endfor %}
        </p>
        {% if research_project.collaborators is not empty %}
            <p>
                <b>{% trans %}Participating researchers collaborators{% endtrans %}</b>: {% for collaborator in research_project.collaborators %}
                    <a
                    href="{{ path('collaborator_pub_show', {'id': collaborator.id}) }}">{{ collaborator.getFullName }}</a>{% if collaborator != research_project.collaborators|last %}, {% endif %}{% endfor %}
            </p>
        {% endif %}
        <p><b>{% trans %}DESCRIPTORS{% endtrans %}</b></p>
        <p><b>{% trans %}UNESCO codes{% endtrans %}</b>: {{ research_project.unescoCodes }}</p>
        <p><b>{% trans %}Technological areas{% endtrans %}</b>: {{ research_project.technologicalAreas }}</p>
        <p><b>{% trans %}CNAE codes{% endtrans %}</b>: {{ research_project.cnaeCodes }}</p>
    </div>

    {% set image1 = research_project.picture1 %}
    {% if image1 is not null %}
        <div>
            <img width="300" alt="" src="data:image/png;base64,{{ image1 }}"
                 class="img img-responsive img-preview thumbnail">
        </div>
    {% endif %}

    {% set image2 = research_project.picture2 %}
    {% if image2 is not null %}
        <div>
            <img width="300" alt="" src="data:image/png;base64,{{ image2 }}"
                 class="img img-responsive img-preview thumbnail">
        </div>
    {% endif %}
    {% set image3 = research_project.picture3 %}
    {% if image3 is not null %}
        <div>
            <img width="300" alt="" src="data:image/png;base64,{{ image3 }}"
                 class="img img-responsive img-preview thumbnail">
        </div>
    {% endif %}

{% endblock %}