{% extends 'base.html.twig' %}

{% block title %}{% trans %}Research project{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Research project{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
        <!-- <tr>
                <th>Id</th>
                <td>{{ research_project.id }}</td>
            </tr> -->
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <td>{{ research_project.title }}</td>
        </tr>
        <tr>
            <th>{% trans %}Reference{% endtrans %}</th>
            <td>{{ research_project.reference }}</td>
        </tr>
        <tr>
            <th>{% trans %}Financial entity{% endtrans %}</th>
            <td>{{ research_project.financialEntity }}</td>
        </tr>
        <tr>
            <th>{% trans %}Amount{% endtrans %}</th>
            <td>{{ research_project.amount }}</td>
        </tr>
        <tr>
            <th>{% trans %}Participating entities{% endtrans %}</th>
            <td>{{ research_project.participatingEntities }}</td>
        </tr>
        <tr>
            <th>{% trans %}Duration{% endtrans %}</th>
            <td>{{ research_project.duration }}</td>
        </tr>
        <tr>
            <th>{% trans %}Leading researcher{% endtrans %}</th>
            {% if research_project.getParticipantResponsible is not null %}
            <td>{{ research_project.getParticipantResponsible.getFullName }}</td>
            {% endif %}
        </tr>
        <tr>
            <th class="align-middle">{% trans %}Researchers{% endtrans %}</th>
            {% if research_project.getParticipants is not null %}
            <td>
                <table class="table table-borderless table-sm">
                    {% for member in research_project.getParticipants %}
                        <tr>
                            <td>{{ member.getFullName }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            {% endif %}
        </tr>
        <tr>
            <th class="align-middle">{% trans %}Collaborators{% endtrans %}</th>
            {% if research_project.getCollaborators is not null %}
            <td>
                <table class="table table-borderless table-sm">
                    {% for collaborator in research_project.getCollaborators %}
                        <tr>
                            <td>{{ collaborator.getFullName }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            {% endif %}
        </tr>
        <tr>
            <th>{% trans %}UNESCO Codes{% endtrans %}</th>
            <td>{{ research_project.unescoCodes }}</td>
        </tr>
        <tr>
            <th>{% trans %}Technological areas{% endtrans %}</th>
            <td>{{ research_project.technologicalAreas }}</td>
        </tr>
        <tr>
            <th>{% trans %}CNAE Codes{% endtrans %}</th>
            <td>{{ research_project.cnaeCodes }}</td>
        </tr>
        <tr>
            <th>{% trans %}Picture1{% endtrans %}</th>
            <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture1 }}"
                     class="img img-responsive img-preview thumbnail"></td>
        </tr>
        <tr>
            <th>{% trans %}Picture2{% endtrans %}</th>
            <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture2 }}"
                     class="img img-responsive img-preview thumbnail"></td>
        </tr>
        <tr>
            <th>{% trans %}Picture3{% endtrans %}</th>
            <td><img height="80" alt="No Image" src="data:image/png;base64,{{ research_project.picture3 }}"
                     class="img img-responsive img-preview thumbnail"></td>
        </tr>
        </tbody>
    </table>

    <!--div class="d-flex btn-group btn-group-toggle justify-content-center" data-toggle="buttons"-->
    <br>
    <a class="btn btn-primary" href="{{ path('research_project_edit', {'id': research_project.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
    {{ include('research_project/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('research_project_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <!--/div-->

{% endblock %}