{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}

        {{ block('form_widget') }}

{#        <br>value = {{  dump(form.vars.value) }}
        <br>attr = {{  dump(form.vars.attr) }}
        form = {{  dump(form.vars.form) }}
        <br>id = {{  dump(form.vars.id) }}
        <br>name = {{  dump(form.vars.name) }}
        <br>full_name = {{  dump(form.vars.full_name) }}
        <br>disabled = {{  dump(form.vars.disabled) }}
        <br>label = {{  dump(form.vars.label) }}
        <br>label_format = {{  dump(form.vars.label_format) }}
<br>multipart = {{  dump(form.vars.multipart) }}
<br>block_prefixes = {{  dump(form.vars.block_prefixes) }}
<br>unique_block_prefix = {{  dump(form.vars.unique_block_prefix) }}
<br>translation_domain = {{  dump(form.vars.translation_domain) }}
<br>    cache_key = {{  dump(form.vars.cache_key) }}
    errors = {{  dump(form.vars.errors) }}
<br>    valid = {{  dump(form.vars.valid) }}
<br>    data = {{  dump(form.vars.data) }}
<br>    required = {{  dump(form.vars.required) }}
<br>    size = {{  dump(form.vars.size) }}
<br>    label_attr = {{  dump(form.vars.label_attr) }}
<br>    help = {{  dump(form.vars.help) }}
<br>    compound = {{  dump(form.vars.compound) }}
<br>    method = {{  dump(form.vars.method) }}
<br>    action = {{  dump(form.vars.action) }}
<br>    submitted = {{  dump(form.vars.submitted) }}
<br>    type = {{  dump(form.vars.type) }}
        <br> image_data = {{ dump(form.vars.image_data) }}
<br>
        <br>
        {% if form.vars is not null %}
#}
            <img height="80" alt="{% trans %}No image{% endtrans %}" src="data:image/png;base64,{{ data }}" class="img-fluid img-thumbnail avatar"/>
  {#          <input type="hidden" value="{{ data }}" name="image" id="image"\>

        {% endif %}
  #}
    {% endspaceless %}
{% endblock %}