{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login required{% endtrans %}{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login') }}" method="post">
    <label for="username">{% trans %}Username{% endtrans %}:</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">{% trans %}Password{% endtrans %}:</label>
    <input type="password" class="form-control" id="password" name="_password" />

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
<br>
    <button type="submit" class="btn">{% trans %}login{% endtrans %}</button>
</form>

{% endblock %}