{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit home{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit home{% endtrans %}</h1>

    {{ include('home/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('home/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('home_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}