{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Home index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
               <!-- <th>Id</th> -->
                <th>{% trans %}Main name{% endtrans %}</th>
                <th>{% trans %}Extended name{% endtrans %}</th>
                <th>{% trans %}Definition{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
               <!-- <td>{{ home.id }}</td> -->
                <td>{{ home.mainName }}</td>
                <td>{{ home.extendedName }}</td>
                <td>{{ home.definition }}</td>
                <td>
                    <a href="{{ path('home_show', {'id': home.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('home_edit', {'id': home.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if homes is empty %}
    <a class="btn btn-success" href="{{ path('home_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}