{% extends 'base.html.twig' %}

{% block title %}{% trans %}New home{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new home{% endtrans %}</h1>

    {{ include('home/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('home_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}