{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Home{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
        <!-- <tr>
                <th>Id</th>
                <td>{{ home.id }}</td>
            </tr> -->
        <tr>
            <th>{% trans %}Main name{% endtrans %}</th>
            <td>{{ home.mainName }}</td>
        </tr>
        <tr>
            <th>{% trans %}Extended name{% endtrans %}</th>
            <td>{{ home.extendedName }}</td>
        </tr>
        <tr>
            <th>{% trans %}Definition{% endtrans %}</th>
            <td>{{ home.definition }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td><img height="80" alt="{% trans %}No image{% endtrans %}" src="data:image/png;base64,{{ home.logo }}"
                     class="img img-responsive img-preview thumbnail"></td>
        </tr>
        </tbody>
    </table>

    <!--div class="d-flex btn-group btn-group-toggle justify-content-center" data-toggle="buttons"-->

    <br>
        <a class="btn btn-primary" href="{{ path('home_edit', {'id': home.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
        {{ include('home/_delete_form.html.twig') }}
    <br>
        <a class="btn btn-secondary" href="{{ path('home_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <!--/div-->

{% endblock %}