{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.pictureProfile) }}
    {{ form_row(form.qualifications) }}
    {{ form_row(form.occupation) }}
    {{ form_row(form.address) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.fax) }}
    {{ form_row(form.subjects) }}
    {{ form_row(form.membership) }}
    {{ form_row(form.googleScholarId) }}
    {{ form_row(form.scopusId) }}
    {{ form_row(form.mendeleyId) }}
    {{ form_row(form.orcidId) }}
    {{ form_row(form.orcidCheckbox) }}
    {{ form_row(form.researcherId) }}
    {{ form_row(form.hIndex) }}
    {{ form_row(form.personalWebSite) }}
    {{ form_row(form.positions) }}
    {{ form_row(form.other) }}
    {{ form_row(form.plainPassword) }}
    {% if is_granted(expression(
        '"ROLE_ADMIN" in roles'
        )) %}
        {{ form_row(form.username) }}
        {{ form_row(form.roles) }}
        {{ form_row(form.isActive) }}

        {% if form.firstName.vars.data is not null %}
            <h4>{% trans %}Authorships{% endtrans %}</h4>
            <ul class="authorships" style="list-style-type: none;" data-prototype="{{ form_widget(form.authorships.vars.prototype)|e('html_attr') }}">
            {% for authorship in form.authorships %}
                <li>{{ form_row(authorship) }}</li>
            {% endfor %}
            </ul>

        {% endif %}

        {{ form_row(form.researchProjectsResponsible) }}
        {{ form_row(form.researchProjects) }}
    {% endif %}
    {{ form_row(form._token) }}

<br>
    <button class="btn btn-primary">{{ button_label|default('Save')|trans }}</button>

{{ form_end(form, {'render_rest': false}) }}
{#{ form_end(form) }#}