{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit member{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit member{% endtrans %}</h1>

    {{ include('member/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {% if is_granted(expression(
        '"ROLE_ADMIN" in roles'
        )) %}
    {{ include('member/_delete_form.html.twig') }}
    {% endif %}
    <br>
    {% if is_granted(expression(
        '"ROLE_ADMIN" in roles'
        )) %}
    <a class="btn btn-secondary" href="{{ path('member_index') }}">{% trans %}Back to list{% endtrans %}</a>
    {% else %}
        <a class="btn btn-secondary" href="{{ path('app_start_index') }}">{% trans %}Back{% endtrans %}</a>
    {% endif %}
{% endblock %}