{% extends 'base.html.twig' %}

{% block title %}{% trans %}Member index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Member index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th scope="col">Id</th> -->
                <th scope="col">{% trans %}First name{% endtrans %}</th>
                <th scope="col">{% trans %}Last name{% endtrans %}</th>
                <th scope="col">{% trans %}Picture profile{% endtrans %}</th>
        <!--    <th>Qualifications</th>
                <th>Occupation</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Subjects</th>
                <th>Membership</th>
                <th>GoogleScholarId</th>
                <th>ScopusId</th>
                <th>MendeleyId</th>
                <th>OrcidId</th>
                <th>ResearcherId</th>
                <th>HIndex</th>
                <th>PersonalWebSite</th>
                <th>Positions</th>
                <th>Other</th>
                <th scope="col">Role</th> -->
                <th scope="col">{% trans %}Created at{% endtrans %}</th>
                <th scope="col">{% trans %}Updated at{% endtrans %}</th>
        <!--    <th>Password</th>
                <th>PlainPassword</th>  -->
                <th scope="col">{% trans %}Username{% endtrans %}</th>
                <th scope="col">{% trans %}Roles{% endtrans %}</th>
                <th scope="col">{% trans %}Is active{% endtrans %}</th>
                <!--<th scope="col">Roles</th>-->
                <th scope="col">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for key, member in members %}
            <tr>
               <!-- <td>{{ member.id }}</td> -->
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td><img height="80" alt="No Image" src="data:image/png;base64,{{ member.pictureProfile }}" class="img img-responsive img-preview thumbnail"/></td>
        <!--    <td>{{ member.qualifications }}</td>
                <td>{{ member.occupation }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.fax }}</td>
                <td>{{ member.subjects }}</td>
                <td>{{ member.membership }}</td>
                <td>{{ member.googleScholarId }}</td>
                <td>{{ member.scopusId }}</td>
                <td>{{ member.mendeleyId }}</td>
                <td>{{ member.orcidId }}</td>
                <td>{{ member.researcherId }}</td>
                <td>{{ member.hIndex }}</td>
                <td>{{ member.personalWebSite }}</td>
                <td>{{ member.positions }}</td>
                <td>{{ member.other }}</td>
                <td>{#{ member.role }#}</td>-->
                <td>{{ member.createdAt ? member.createdAt|localizeddate('long', 'none') : ''  }}</td>
                <td>{{ member.updatedAt ? member.updatedAt|localizeddate('long', 'none') : '' }}</td>
        <!--        <td>{{ member.password }}</td>
                <td>{{ member.plainPassword }}</td>    -->
                <td>{{ member.username }}</td>
                {#% for rol in member.roles %}
                    <td>{{ rol }}</td>
                {% endforn %#}
                <td>{{ member.roles ? member.roles|join(', ') : '' }}</td>
                <td>{{ member.isActive ? 'Yes' | trans : 'No' |trans }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': member.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('member_edit', {'id': member.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('member_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}