{% extends 'base.html.twig' %}

{% block title %}{% trans %}New member{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new member{% endtrans %}</h1>

    {{ include('member/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('member_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}