{% extends 'base.html.twig' %}

{% block title %}{% trans %}Members{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Members{% endtrans %}</h1>

    <div class="row" style="display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;">
        {% for key, member in members %}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center"><a href="{{ path('member_pub_show', {'id': member.id}) }}">{{ member.getFullName }}</a></h4>
                        <p class="card-text text-center"><img height="80" alt="No Image" src="data:image/png;base64,{{ member.pictureProfile }}" class="img-fluid img-thumbnail avatar"/></p>
                    </div>
                </div>
            </div>
            {% if loop.index % 3 == 0 %}
            </div>
            <div class="row"  style="display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin-bottom: 15px;
                margin-top: 15px;">
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}