{% extends 'base.html.twig' %}

{% block title %}{% trans %}Member{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Member{% endtrans %}</h1>

    <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="d-flex w-100 justify-content-between">
                                <h2 class="mb-1">{{ member.getFullName }}</h2>
                            </div>
                        </div>
                        <div class="col-">
                            <div>
                                <img height="100" alt="No Image" src="data:image/png;base64,{{ member.pictureProfile }}"
                                     class="img-fluid img-thumbnail avatar">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-justify"><b>{% trans %}Qualifications{% endtrans %}</b>: {{ member.qualifications }}</p>
                    <p class="text-justify"><b>{% trans %}Occupation{% endtrans %}</b>: {{ member.occupation }}</p>
                    <p><b>{% trans %}Address{% endtrans %}</b>: {{ member.address }}</p>
                    <p><b>{% trans %}Email{% endtrans %}</b>: {{ member.email }}</p>
                    <p><b>{% trans %}Phone{% endtrans %}</b>: {{ member.phone }}</p>
                    <p><b>Fax</b>: {{ member.fax }}</p>
                    <p class="text-justify"><b>{% trans %}Subjects{% endtrans %}</b>: {{ member.subjects }}</p>
                    <p><b>{% trans %}Google scholar id{% endtrans %}</b>: <a href="https://scholar.google.com/citations?hl=en&user={{ member.googleScholarId }}" target="_blank">{{ member.googleScholarId }}</a></p>
                    <p><b>{% trans %}Scopus id{% endtrans %}</b>: <a href="https://www.scopus.com/authid/detail.uri?authorId={{ member.scopusId }}" target="_blank">{{ member.scopusId }}</a></p>
                    <p><b>{% trans %}Mendeley id{% endtrans %}</b>: <a href="https://www.mendeley.com/profiles/{{ member.mendeleyId }}/" target="_blank">{{ member.mendeleyId }}</a></p>
                    <p><b>{% trans %}ORCID id{% endtrans %}</b>: <a href="https://orcid.org/{{ member.orcidId }}" target="_blank">{{ member.orcidId }}</a></p>
                    <p><b>{% trans %}Researcher id{% endtrans %}</b>: <a href="http://www.researcherid.com/rid/{{ member.researcherId }}" target="_blank">{{ member.researcherId }}</a></p>
                    <p><b><a href="https://en.wikipedia.org/wiki/H-index" target="_blank">{% trans %}H index{% endtrans %}</a></b>: {{ member.hIndex }}</p>
                    <p><b>{% trans %}Personal web site{% endtrans %}</b>: <a href="{{ member.personalWebSite }}" target="_blank">{{ member.personalWebSite }}</a></p>
                    <p class="text-justify"><b>{% trans %}Positions{% endtrans %}</b>: {{ member.positions }}</p>
                    <p class="text-justify"><b>{% trans %}Other{% endtrans %}</b>: {{ member.other }}</p>
                </div>
            </div>
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{% trans %}Posts of this member{% endtrans %}:</h2>
        </div>
        {% for post in member.getPosts %}
            <p><a href="{{ path('post_pub_show', {'slug': post.slug}) }}">{{ post.title }}</a></p>
        {% endfor %}
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{% trans %}Leading researcher in these projects{% endtrans %}:</h2>
        </div>
        {% for project in member.researchProjectsResponsible %}
            <p><a href="{{ path('research_project_pub_show', {'id': project.id}) }}">{{ project.title }}</a></p>
        {% endfor %}
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{% trans %}Researcher in these projects{% endtrans %}:</h2>
        </div>
        {% for project in member.researchProjects %}
            <p><a href="{{ path('research_project_pub_show', {'id': project.id}) }}">{{ project.title }}</a></p>
        {% endfor %}
    </div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h2 class="mb-1">{% trans %}Publications of this member{% endtrans %}:</h2>
    </div>
    {% for authorship in member.authorships %}
        <p><a href="{{ path('publication_pub_show', {'id': authorship.publication.id}) }}">{{ authorship.publication.title }}</a></p>
    {% endfor %}
    </div>


{% endblock %}