{% extends 'base.html.twig' %}

{% block title %}{% trans %}Member{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Member{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
            <!-- <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr> -->
            <tr>
                <th>{% trans %}First name{% endtrans %}</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Last name{% endtrans %}</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Picture profile{% endtrans %}</th>
                <td><img height="80" alt="{% trans %}No image{% endtrans %}" src="data:image/png;base64,{{ member.pictureProfile }}" class="img-fluid img-thumbnail avatar"></td>
            </tr>
            <tr>
                <th>{% trans %}Qualifications{% endtrans %}</th>
                <td>{{ member.qualifications }}</td>
            </tr>
            <tr>
                <th>{% trans %}Occupation{% endtrans %}</th>
                <td>{{ member.occupation }}</td>
            </tr>
            <tr>
                <th>{% trans %}Address{% endtrans %}</th>
                <td>{{ member.address }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ member.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Phone{% endtrans %}</th>
                <td>{{ member.phone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ member.fax }}</td>
            </tr>
            <tr>
                <th>{% trans %}Subjects{% endtrans %}</th>
                <td>{{ member.subjects }}</td>
            </tr>
            <tr>
                <th>{% trans %}Membership{% endtrans %}</th>
                <td>{{ member.membership }}</td>
            </tr>
            <tr>
                <th>{% trans %}Google scholar id{% endtrans %}</th>
                <td>{{ member.googleScholarId }}</td>
            </tr>
            <tr>
                <th>{% trans %}Scopus id{% endtrans %}</th>
                <td>{{ member.scopusId }}</td>
            </tr>
            <tr>
                <th>{% trans %}Mendeley id{% endtrans %}</th>
                <td>{{ member.mendeleyId }}</td>
            </tr>
            <tr>
                <th>{% trans %}ORCID id{% endtrans %}</th>
                <td>{{ member.orcidId }}</td>
            </tr>
            <tr>
                <th>{% trans %}Researcher id{% endtrans %}</th>
                <td>{{ member.researcherId }}</td>
            </tr>
            <tr>
                <th>{% trans %}H index{% endtrans %}</th>
                <td>{{ member.hIndex }}</td>
            </tr>
            <tr>
                <th>{% trans %}Personal web site{% endtrans %}</th>
                <td>{{ member.personalWebSite }}</td>
            </tr>
            <tr>
                <th>{% trans %}Positions{% endtrans %}</th>
                <td>{{ member.positions }}</td>
            </tr>
            <tr>
                <th>{% trans %}Other{% endtrans %}</th>
                <td>{{ member.other }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ member.createdAt ? member.createdAt|localizeddate('long', 'none') : ''  }}</td>
            </tr>
            <tr>
                <th>{% trans %}Updated at{% endtrans %}</th>
                <td>{{ member.updatedAt ? member.updatedAt|localizeddate('long', 'none') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Password{% endtrans %}</th>
                <td>{{ member.password }}</td>
            </tr>
            <tr>
                <th>{% trans %}Username{% endtrans %}</th>
                <td>{{ member.username }}</td>
            </tr>
            <tr>
                <th>{% trans %}Is active{% endtrans %}</th>
                <td>{{ (member.isActive ? 'Yes' : 'No') |trans}}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ member.getroles ? member.getroles|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th class="align-middle">{% trans %}Leading researcher at{% endtrans %}</th>
                <td>
                    <table class="table table-borderless table-sm">
                        {% for project in member.getResearchProjectsResponsible %}
                            <tr>
                                <td>{{ project.getTitle }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <th class="align-middle">{% trans %}Researcher at{% endtrans %}</th>
                <td>
                    <table class="table table-borderless table-sm">
                        {% for project in member.getResearchProjects %}
                            <tr>
                                <td>{{ project.getTitle }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            <tr>
                <th class="align-middle">{% trans %}Publications{% endtrans %}</th>
                <td>
                    <table class="table table-borderless table-sm">
                        <tr><th>{% trans %}Publication{% endtrans %}</th><th>{% trans %}Type of authorship{% endtrans %}</th></tr>
                        {% for authorship in member.authorships %}
                            <tr>
                                <td>{{ authorship.publication.getTitle }}</td>
                                <td>{{ authorship.typeOfAuthorship|trans }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!--div class="d-flex btn-group btn-group-toggle justify-content-center" data-toggle="buttons"-->

    <br>
        <a class="btn btn-primary" href="{{ path('member_edit', {'id': member.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
        {{ include('member/_delete_form.html.twig') }}
    <br>
        <a class="btn btn-secondary" href="{{ path('member_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <!--/div-->

{% endblock %}