{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.type) }}
    {{ form_row(form.title) }}

{% if form.title.vars.data is not null %}
<h4>{% trans %}Authorships{% endtrans %}</h4>
<ul class="authorships" style="list-style-type: none;"
    data-prototype="{{ form_widget(form.authorships.vars.prototype)|e('html_attr') }}">
    {% for authorship in form.authorships %}
        <li>{{ form_row(authorship) }}</li>
    {% endfor %}
</ul>

{% endif %}
    {{ form_row(form.url) }}
    {{ form_row(form.doi) }}
    {{ form_row(form.eid) }}
    {{ form_row(form.issn) }}
    {{ form_row(form.isbn) }}
    {{ form_row(form.year) }}
    {{ form_row(form.date) }}
    {{ form_row(form.journal) }}
    {{ form_row(form.volume) }}
    {{ form_row(form.number) }}
    {{ form_row(form.pages) }}
    {{ form_row(form.abstract) }}
    {{ form_row(form.keywords) }}
    {{ form_row(form.pubstate) }}
    {{ form_row(form.bibTex) }}
    {{ form_row(form.authors) }}
    {% if form.title.vars.data is null %}
        {{ form_widget(form.authorships) }}
    {% endif %}
    {{ form_row(form._token) }}
<br>
<button class="btn btn-primary">{{ button_label|default('Save')|trans }}</button>
{{ form_end(form, {'render_rest': false}) }}
{#{ form_end(form) }#}
{% block javascripts %}

    <script src="{{ asset('js/authorshipmanagement.js') }}"></script>

{% endblock %}
