{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit publication{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit publication{% endtrans %}</h1>

    {{ include('publication/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('publication/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('publication_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}