{% extends 'base.html.twig' %}

{% block title %}{% trans %}Publication index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Publication index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
            <!--    <th>URL</th>
                <th>DOI</th>
                <th>EID</th>
                <th>ISSN</th>
                <th>ISBN</th>-->
                <th>{% trans %}Year{% endtrans %}</th>
            <!--    <th>Date</th>
                <th>Journal</th>
                <th>Volume</th>
                <th>Number</th>
                <th>Pages</th>
                <th>Abstract</th>
                <th>Keywords</th>
                <th>Pubstate</th>
                <th>BibTex</th>
                <th>Authors</th>-->
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <!-- <td>{{ publication.id }}</td> -->
                <td>{{ publication.type|trans }}</td>
                <td>{{ publication.title }}</td>
            <!--    <td>{{ publication.url }}</td>
                <td>{{ publication.doi }}</td>
                <td>{{ publication.eid }}</td>
                <td>{{ publication.issn }}</td>
                <td>{{ publication.isbn }}</td>-->
                <td>{{ publication.year }}</td>
            <!--    <td>{{ publication.date ? publication.date|localizeddate('long', 'none') : '' }}</td>
                <td>{{ publication.journal }}</td>
                <td>{{ publication.volume }}</td>
                <td>{{ publication.number }}</td>
                <td>{{ publication.pages }}</td>
                <td>{{ publication.abstract }}</td>
                <td>{{ publication.keywords }}</td>
                <td>{{ publication.pubstate }}</td>
                <td>{{ publication.bibTex }}</td>
                <td>{{ publication.authors }}</td>-->
                <td>
                    <a href="{{ path('publication_show', {'id': publication.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('publication_edit', {'id': publication.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('publication_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}