{% extends 'base.html.twig' %}

{% block title %}{% trans %}New publication{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new publication{% endtrans %}</h1>

    {{ include('publication/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('publication_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}