{% extends 'base.html.twig' %}

{% block title %}{% trans %}Publications{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Publications{% endtrans %}</h1>

    {% if showAll == true %}
    <a href="{{ path('publication_pub', {limit: count}) }}">({% trans %} Show all{% endtrans %})</a>
    {% else %}
    <a href="{{ path('publication_pub', {limit: 4}) }}">({% trans %} Show less{% endtrans %})</a>
    {% endif %}

    {% for year in years %}
        <h2>{{ year }}</h2>
        <div class="list-group">
            {% for key, publication in publications %}

                {% if publication.year == year %}

                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <p class="mb-1"><h6>{{ publication.authors }}</h6></p>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><a
                                        href="{{ path('publication_pub_show', {'id': publication.id}) }}">{{ publication.title |raw }}</a>
                            </h5>
                            <small>{{ publication.type|trans }}</small>
                        </div>
                        <div>
                            <small>{% trans %}In{% endtrans %}
                                : {{ publication.journal }}{% if publication.volume is not null %}, {{ publication.volume }}{% if publication.number is not null %}({{ publication.number }}){% endif %}{% endif %}{% if publication.pages is not null %}, pp.{{ publication.pages }}{% endif %}
                                , {{ publication.year }}{% if publication.issn is not null %}, ISSN: {{ publication.issn }}{% endif %}{% if publication.isbn is not null %}, ISBN: {{ publication.isbn }}{% endif %}{% if publication.eid is not null %}, EID: {{ publication.eid }}{% endif %}{% if publication.doi is not null %}, DOI:
                                <a href="https://doi.org/{{ publication.doi }}"
                                   target="_blank">{{ publication.doi }}</a>{% endif %}.
                            </small>
                        </div>
                        <div>
                            <small>{% if publication.url is not null %}<a href="{{ publication.url }}"
                                                                          target="_blank">{% trans %}Link{% endtrans %}</a>{% endif %}{% if publication.date is not null %}, {% trans %}date{% endtrans %}: {{ publication.date|localizeddate('long', 'none') }} {% endif %}{% if publication.keywords is not null %}, {% trans %}Tags{% endtrans %}: {{ publication.keywords }}{% endif %}{% if publication.pubstate is not null %}, {{ publication.pubstate }}{% endif %}{% if publication.abstract is not null %},
                                    <a href="#abstract{{ publication.id }}"
                                       data-toggle="collapse">{% trans %}Abstract{% endtrans %}</a> {% endif %}{% if publication.bibTex is not null %}{% if publication.url is not null %}, {% endif %}
                                    <a href="#bibTex{{ publication.id }}" data-toggle="collapse">BibTex</a> {% endif %}
                            </small>
                        </div>
                        <div id="bibTex{{ publication.id }}" class="collapse in">
                            <small>{{ publication.bibTex }}</small>
                        </div>
                        <div id="abstract{{ publication.id }}" class="collapse in">
                            <small>{{ publication.abstract }}</small>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endfor %}


    {% if maxPages > 1 %}
        <div class="container my-5">
            <div class="row justify-content-md-center">

                {% if thisPage > 1 %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('publication_pub', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span class="oi" data-glyph="caret-left"></span></a>
                    </div>
                {% endif %}
                {% if thisPage + 4 > 10 %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('publication_pub', {currentPage: 1}) }}">1</a>
                    </div>
                    <div class="col-md-auto text-center">
                       {# <span class="oi" data-glyph="ellipses"></span>#}...
                    </div>
                {% endif %}

                {# Render each page number #}
               {# {% for i in (thisPage<6?1:thisPage-5)..(thisPage+4<maxPages?thisPage+4:maxPages) %}  #}
                {% for i in (thisPage<6?1:((maxPages-thisPage)<5?(maxPages-10):(thisPage-5)))..((thisPage+4)<maxPages?((thisPage+4)<10?10:(thisPage+4)):maxPages) %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('publication_pub', {currentPage: i}) }}">{% if thisPage == i %}<b>[{% endif %}{{ i }}{% if thisPage == i %}]</b>{% endif %}</a>
                    </div>
                {% endfor %}

                {% if thisPage + 4 < maxPages %}
                    <div class="col-md-auto text-center">
                        {#<span class="oi" data-glyph="ellipses"></span>#}...
                    </div>
                    <div class="col-md-auto text-center">
                        <a href="{{ path('publication_pub', {currentPage: maxPages}) }}">{{ maxPages }}</a>
                    </div>
                {% endif %}
                {# `»` arrow #}
                {% if thisPage + 4 < maxPages %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('publication_pub', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span class="oi" data-glyph="caret-right"></span></a>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}


{% endblock %}