{% extends 'base.html.twig' %}

{% block title %}{% trans %}Publication{% endtrans %}{% endblock %}

{% block body %}

<div class="list-group-item list-group-item-action flex-column align-items-start">
    <p class="mb-1"><h6>{{ publication.authors }}</h6></p>
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ publication.title }}</h5>
        <small>{{ publication.type|trans }}</small>
    </div>
    <div>
        <small>{% trans %}In{% endtrans %}: {{ publication.journal }}{% if publication.volume is not null %}, {{ publication.volume }}{% if publication.number is not null %}({{ publication.number }}){% endif %}{% endif %}{% if publication.pages is not null %}, pp.{{ publication.pages }}{% endif %}, {{ publication.year }}{% if publication.issn is not null %}, ISSN: {{ publication.issn }}{% endif %}{% if publication.isbn is not null %}, ISBN: {{ publication.isbn }}{% endif %}{% if publication.eid is not null %}, EID: {{ publication.eid }}{% endif %}{% if publication.doi is not null %}, DOI: <a href="https://doi.org/{{ publication.doi }}" target="_blank">{{ publication.doi }}</a>{% endif %}.</small>
    </div>
    <div>
        <small>{% if publication.url is not null %}<a href="{{ publication.url }}" target="_blank">{% trans %}Link{% endtrans %}</a>{% endif %}{% if publication.date is not null %}, {% trans %}date{% endtrans %}: {{ publication.date|localizeddate('long', 'none') }} {% endif %}{% if publication.keywords is not null %}, {% trans %}Tags{% endtrans %}: {{ publication.keywords }}{% endif %}{% if publication.pubstate is not null %}, {{ publication.pubstate }}{% endif %}{% if publication.abstract is not null %}, <a href="#abstract{{ publication.id }}" data-toggle="collapse">{% trans %}Abstract{% endtrans %}</a> {% endif %}{% if publication.bibTex is not null %}{% if publication.url is not null %}, {% endif %}<a href="#bibTex{{ publication.id }}" data-toggle="collapse">BibTex</a> {% endif %}</small>
    </div>
    <div id="bibTex{{ publication.id }}" class="collapse in">
        <small>{{ publication.bibTex }}</small>
    </div>
    <div id="abstract{{ publication.id }}" class="collapse in">
        <small>{{ publication.abstract }}</small>
    </div>


</div>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <p class="mb-1"><h6>{% trans %}Members related with this publication{% endtrans %}</h6></p>
    {% for authorship in publication.authorships %}
        <div>
            <a href="{{ path('member_pub_show', {'id': authorship.member.id}) }}">{{ authorship.member.fullname }}</a>
        </div>
    {% endfor %}
    </div>



{% endblock %}