{% extends 'base.html.twig' %}

{% block title %}{% trans %}Publication{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Publication{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
        <!-- <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr> -->
        <tr>
            <th>{% trans %}Type{% endtrans %}</th>
            <td>{{ publication.type|trans }}</td>
        </tr>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <td>{{ publication.title }}</td>
        </tr>
        <tr>
            <th class="align-middle">{% trans %}Authorships{% endtrans %}</th>
            <td>
                <table class="table table-borderless table-sm">
                    <tr><th>{% trans %}Name{% endtrans %}</th><th>{% trans %}Type of authorship{% endtrans %}</th></tr>
                    {% for authorship in publication.authorships %}
                        <tr>
                            <td>{{ authorship.member.getFullName }}</td>
                            <td>{{ authorship.typeOfAuthorship|trans }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th>URL</th>
            <td>{{ publication.url }}</td>
        </tr>
        <tr>
            <th>DOI</th>
            <td>{{ publication.doi }}</td>
        </tr>
        <tr>
            <th>EID</th>
            <td>{{ publication.eid }}</td>
        </tr>
        <tr>
            <th>ISSN</th>
            <td>{{ publication.issn }}</td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td>{{ publication.isbn }}</td>
        </tr>
        <tr>
            <th>{% trans %}Year{% endtrans %}</th>
            <td>{{ publication.year }}</td>
        </tr>
        <tr>
            <th>{% trans %}Date{% endtrans %}</th>
            <td>{{ publication.date ? publication.date|localizeddate('long', 'none') : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}Journal{% endtrans %}</th>
            <td>{{ publication.journal }}</td>
        </tr>
        <tr>
            <th>{% trans %}Volume{% endtrans %}</th>
            <td>{{ publication.volume }}</td>
        </tr>
        <tr>
            <th>{% trans %}Number{% endtrans %}</th>
            <td>{{ publication.number }}</td>
        </tr>
        <tr>
            <th>{% trans %}Pages{% endtrans %}</th>
            <td>{{ publication.pages }}</td>
        </tr>
        <tr>
            <th>{% trans %}Abstract{% endtrans %}</th>
            <td>{{ publication.abstract }}</td>
        </tr>
        <tr>
            <th>{% trans %}Keywords{% endtrans %}</th>
            <td>{{ publication.keywords }}</td>
        </tr>
        <tr>
            <th>{% trans %}Pubstate{% endtrans %}</th>
            <td>{{ publication.pubstate }}</td>
        </tr>
        <tr>
            <th>BibTex</th>
            <td>{{ publication.bibTex }}</td>
        </tr>
        <tr>
            <th>{% trans %}Authors{% endtrans %}</th>
            <td>{{ publication.authors }}</td>
        </tr>
        </tbody>
    </table>

    <!--div class="d-flex btn-group btn-group-toggle justify-content-center" data-toggle="buttons"-->
    <br>
        <a class="btn btn-primary" href="{{ path('publication_edit', {'id': publication.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
        {{ include('publication/_delete_form.html.twig') }}
    <br>
        <a class="btn btn-secondary" href="{{ path('publication_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <!--/div-->

{% endblock %}