{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit collaborator{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit collaborator{% endtrans %}</h1>

    {{ include('collaborator/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('collaborator/_delete_form.html.twig') }}
<br>
<a class="btn btn-secondary" href="{{ path('collaborator_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}