{% extends 'base.html.twig' %}

{% block title %}{% trans %}Collaborator index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Collaborator index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}First name{% endtrans %}</th>
                <th>{% trans %}Last name{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Phone{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborators in collaborators %}
            <tr>
                <td>{{ collaborators.firstName }}</td>
                <td>{{ collaborators.lastName }}</td>
                <td>{{ collaborators.email }}</td>
                <td>{{ collaborators.phone }}</td>
                <td>
                    <a href="{{ path('collaborator_show', {'id': collaborators.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('collaborator_edit', {'id': collaborators.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('collaborator_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}