{% extends 'base.html.twig' %}

{% block title %}{% trans %}New collaborator{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new collaborator{% endtrans %}</h1>

    {{ include('collaborator/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('collaborator_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}