{% extends 'base.html.twig' %}

{% block title %}{% trans %}Collaborators{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Collaborators{% endtrans %}</h1>



    <div class="list-group">
        {% for key, collaborator in collaborators %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h2 class="mb-1"><a href="{{ path('collaborator_pub_show', {'id': collaborator.id}) }}">{{ collaborator.getFullName }}</a></h2>
                </div>
                <!--div>
                    <p>Email: {{ collaborator.email }}</p>
                    <p>Phone: {{ collaborator.phone }}</p>
                </div-->
            </div>
        {% endfor %}
    </div>


{% endblock %}