{% extends 'base.html.twig' %}

{% block title %}{% trans %}Collaborator{% endtrans %}{% endblock %}

{% block body %}

    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1">{{ collaborator.getFullName }}</h2>
        </div>
        <div>
            <p>{% trans %}Email{% endtrans %}: {{ collaborator.email }}</p>
            <p>{% trans %}Phone{% endtrans %}: {{ collaborator.phone }}</p>
        </div>
    </div>

{% endblock %}