{% extends 'base.html.twig' %}

{% block title %}{% trans %}Collaborator{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Collaborator{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}First name{% endtrans %}</th>
                <td>{{ collaborators.firstName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Last name{% endtrans %}</th>
                <td>{{ collaborators.lastName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ collaborators.email }}</td>
            </tr>
            <tr>
                <th>{% trans %}Phone{% endtrans %}</th>
                <td>{{ collaborators.phone }}</td>
            </tr>
            <tr>
                <th class="align-middle">{% trans %}Collaborator at{% endtrans %}</th>
                <td>
                    <table class="table table-borderless table-sm">
                        {% for project in collaborators.getResearchProjects %}
                            <tr>
                                <td>{{ project.getTitle }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a class="btn btn-primary" href="{{ path('collaborator_edit', {'id': collaborators.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
    {{ include('collaborator/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('collaborator_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}