{% extends 'base.html.twig' %}

{% block title %}
    Research CMS
{% endblock %}

{% block body %}

    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><img id="mainlogo" width="100%" alt="{% trans %}No image{% endtrans %}" src="data:image/png;base64,{{ start.logo }}" class="img img-responsive img-preview thumbnail"></div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center align-self-center"><h1 class="display-5 text-center">{% trans %}Welcome to the {% endtrans %} {{ "%name% Research Group"|trans({'%name%': start.mainName})|raw }}</h1></div>
        </div>

        <h2>{{ start.extendedName }}</h2>
        <p class="lead text-justify">{{ start.definition |raw }}</p>
    </div>

    <div class="">
        <h2><strong>{% trans %}Research Lines{% endtrans %}</strong></h2>
    </div>

    <div class="row" style="display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;">
    {% for researchline in lines %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ researchline.title }}</h4>
                    <p class="card-text text-justify">{{ researchline.explanation }}</p>
                </div>
            </div>
        </div>
        {% if loop.index is even %}
            </div>
            <div class="row"  style="display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;">
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}