{% extends 'base.html.twig' %}

{% block title %}{% trans %}Research line index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Research line index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
             <!--   <th>Id</th>  -->
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Explanation{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for research_line in research_lines %}
            <tr>
            <!--    <td>{{ research_line.id }}</td>  -->
                <td>{{ research_line.title }}</td>
                <td>{{ research_line.explanation }}</td>
                <td>
                    <a href="{{ path('research_line_show', {'id': research_line.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('research_line_edit', {'id': research_line.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('research_line_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}