{% extends 'base.html.twig' %}

{% block title %}{% trans %}New research line{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new research line{% endtrans %}</h1>

    {{ include('research_line/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('research_line_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}