{% extends 'base.html.twig' %}

{% block title %}{% trans %}Research line{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Research line{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
        <!--    <tr>
                <th>Id</th>
                <td>{{ research_line.id }}</td>
            </tr>  -->
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ research_line.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Explanation{% endtrans %}</th>
                <td>{{ research_line.explanation }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <a class="btn btn-primary" href="{{ path('research_line_edit', {'id': research_line.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
    {{ include('research_line/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('research_line_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}