{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit contact{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit contact{% endtrans %}</h1>

    {{ include('contact/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('contact/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('contact_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}