{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Contact index{% endtrans %}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th>Id</th> -->
                <th>{% trans %}First line{% endtrans %}</th>
                <th>{% trans %}Second line{% endtrans %}</th>
                <th>{% trans %}Address{% endtrans %}</th>
                <th>{% trans %}Phone{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <!-- <td>{{ contact.id }}</td> -->
                <td>{{ contact.firstLine }}</td>
                <td>{{ contact.secondLine }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if contacts is empty %}
    <a class="btn btn-success" href="{{ path('contact_new') }}">{% trans %}Create new{% endtrans %}</a>
    {% endif %}
{% endblock %}