{% extends 'base.html.twig' %}

{% block title %}{% trans %}New contact{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new contact{% endtrans %}</h1>

    {{ include('contact/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('contact_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}