{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Contact{% endtrans %}</h1>

    <div class="row" style="display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 15px;
            margin-top: 15px;">
        <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header">{{ "%name% Research Group"|trans({'%name%': homes[0].mainName})|raw }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ contacts[0].firstLine }}</h4>
                <h5 class="card-text">{{ contacts[0].secondLine }}</h5>
                <p class="card-text">{{ contacts[0].address }}</p>
                <p class="card-text">{{ contacts[0].phone }}</p>
            </div>
        </div>
    </div>


{% endblock %}