{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Contact{% endtrans %}</h1>

    <table class="table table-hover">
        <tbody>
        <!-- <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr> -->
        <tr>
            <th>{% trans %}First line{% endtrans %}</th>
            <td>{{ contact.firstLine }}</td>
        </tr>
        <tr>
            <th>{% trans %}Last line{% endtrans %}</th>
            <td>{{ contact.secondLine }}</td>
        </tr>
        <tr>
            <th>{% trans %}Address{% endtrans %}</th>
            <td>{{ contact.address }}</td>
        </tr>
        <tr>
            <th>{% trans %}Phone{% endtrans %}</th>
            <td>{{ contact.phone }}</td>
        </tr>
        </tbody>
    </table>

    <!--div class="d-flex btn-group btn-group-toggle justify-content-center" data-toggle="buttons"-->
    <br>
        <a class="btn btn-primary" href="{{ path('contact_edit', {'id': contact.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
        {{ include('contact/_delete_form.html.twig') }}
    <br>
        <a class="btn btn-secondary" href="{{ path('contact_index') }}">{% trans %}Back to list{% endtrans %}</a>

    <!--/div-->

{% endblock %}