<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <br>
    <button class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
</form>
