{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
<br>
<button class="btn btn-primary">{{ button_label|default('Save')|trans }}</button>

{{ form_end(form) }}
