{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit post{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit post{% endtrans %}</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'|trans}) }}
    {{ include('post/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('post_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
