{% extends 'base.html.twig' %}

{% block title %}{% trans %}Post index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Post index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <!--<th>Id</th> -->
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Slug{% endtrans %}</th>
                <th>{% trans %}Summary{% endtrans %}</th>
                <!--<th>Content</th> -->
                <th>{% trans %}Published at{% endtrans %}</th>
                <th>{% trans %}By{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
               <!-- <td>{{ post.id }}</td> -->
                <td>{{ post.title }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.summary }}</td>
               <!-- <td>{{ post.content }}</td> -->
                <td>{{ post.publishedAt ? post.publishedAt|localizeddate('long', 'none') : '' }}</td>
                <td>{{ post.getAuthor.getFullName }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('post_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
