{% extends 'base.html.twig' %}

{% block title %}{% trans %}New post{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new post{% endtrans %}</h1>

    {{ include('post/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('post_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
