{% extends 'base.html.twig' %}

{% block title %}{% trans %}News{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}News{% endtrans %}</h1>

    {% if showAll == true %}
        <a href="{{ path('post_pub', {limit: count}) }}">({% trans %} Show all{% endtrans %})</a>
    {% else %}
        <a href="{{ path('post_pub', {limit: 4}) }}">({% trans %} Show less{% endtrans %})</a>
    {% endif %}

    {% for post in posts %}
        <div>
            <h2>
                <a href="{{ path('post_pub_show', {'slug': post.slug}) }}">
                    {{ post.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"> {{ post.publishedAt  ? post.publishedAt|localizeddate('long', 'none') : ''}}</span>
            </p>
        </div>
    {% else %}
        <div class="well">{% trans %}No posts found{% endtrans %}</div>
    {% endfor %}

{#
    {% if maxPages > 1 %}
        <div class="container">
            <div class="row">

            {%if thisPage > 1 %}
                <div class="col-sm">
                    <a href="{{ path('post_pub', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span class="oi" data-glyph="caret-left"></span></a>
                </div>
            {% endif %}


            {% for i in 1..maxPages %}
                <div class="col-sm">
                    <a href="{{ path('post_pub', {currentPage: i}) }}">{{ i }}</a>
                </div>
            {% endfor %}


            {%if thisPage < maxPages %}
                <div class="col-sm">
                    <a href="{{ path('post_pub', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span class="oi" data-glyph="caret-right"></span></a>
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %} #}
    {% if maxPages > 1 %}
        <div class="container my-5">
            <div class="row justify-content-md-center">

                {% if thisPage > 1 %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('post_pub', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}"><span class="oi" data-glyph="caret-left"></span></a>
                    </div>
                {% endif %}
                {% if thisPage + 4 > 10 %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('post_pub', {currentPage: 1}) }}">1</a>
                    </div>
                    <div class="col-md-auto text-center">
                        {#<span class="oi" data-glyph="ellipses"></span>#}...
                    </div>
                {% endif %}

                {# Render each page number #}
                {# {% for i in (thisPage<6?1:thisPage-5)..(thisPage+4<maxPages?thisPage+4:maxPages) %}  #}
                {% for i in (thisPage<6?1:((maxPages-thisPage)<5?(maxPages-10):(thisPage-5)))..((thisPage+4)<maxPages?((thisPage+4)<10?10:(thisPage+4)):maxPages) %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('post_pub', {currentPage: i}) }}">{% if thisPage == i %}<b>[{% endif %}{{ i }}{% if thisPage == i %}]</b>{% endif %}</a>
                    </div>
                {% endfor %}

                {% if thisPage + 4 < maxPages %}
                    <div class="col-md-auto text-center">
                        {#<span class="oi" data-glyph="ellipses"></span>#}...
                    </div>
                    <div class="col-md-auto text-center">
                        <a href="{{ path('post_pub', {currentPage: maxPages}) }}">{{ maxPages }}</a>
                    </div>
                {% endif %}
                {# `»` arrow #}
                {% if thisPage + 4 < maxPages %}
                    <div class="col-md-auto text-center">
                        <a href="{{ path('post_pub', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}"><span class="oi" data-glyph="caret-right"></span></a>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}

{% endblock %}