{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <p class="lead"><a href="#">{{ post.publishedAt ? post.publishedAt|localizeddate('long', 'none') : ''  }}</a> {% trans %}by{% endtrans %} <a href="{{ path('member_pub_show', {'id': post.author.id}) }}">{{ post.author.getFullName }}</a> </p>
        <p class="display-4">{{ post.title }}</p>

        <hr class="my-4">
        <p class="text-justify">{{ post.content|raw }}</p>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm text-left">
                {% for p in previous %}
                    <p>{% trans %}PREVIOUS{% endtrans %}</p>
                    <a href="{{ path('post_pub_show', {'slug': p.slug}) }}">
                        <h3><span class="oi" data-glyph="caret-left"></span> {{ p.title }}</h3>
                             </a>
                {% endfor %}
            </div>
            <div class="col-sm text-right">
                {% for n in next %}
                    <p>{% trans %}NEXT{% endtrans %}</p>
                    <a href="{{ path('post_pub_show', {'slug': n.slug}) }}"><h3>{{ n.title }} <span class="oi" data-glyph="caret-right"></span></h3></a>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}