{% extends 'base.html.twig' %}

{% block title %}{% trans %}Post{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Post{% endtrans %}</h1>

    <table class="table">
        <tbody>
           <!-- <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr> -->
            <tr>
                <th>{% trans %}Title{% endtrans %}</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>{% trans %}Slug{% endtrans %}</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>{% trans %}Summary{% endtrans %}</th>
                <td>{{ post.summary }}</td>
            </tr>
            <tr>
                <th>{% trans %}Content{% endtrans %}</th>
                <td>{{ post.content | raw }}</td>
            </tr>
            <tr>
                <th>{% trans %}Published at{% endtrans %}</th>
                <td>{{ post.publishedAt ? post.publishedAt|localizeddate('long', 'none') : '' }}</td>
            </tr>
           <tr>
               <th>{% trans %}By{% endtrans %}</th>
               <td>{{ post.getAuthor.getFullName | raw }}</td>
           </tr>
        </tbody>
    </table>

    <br>
    <a class="btn btn-primary" href="{{ path('post_edit', {'id': post.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
    {{ include('post/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('post_index') }}">{% trans %}Back to list{% endtrans %}</a>

{% endblock %}
