{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Page not found{% trans %}</h1>

    <p>
        {% trans %}The requested page couldn't be located. Checkout for any URL misspelling or {% endtrans %}<a href="{{ path('app_start_index') }}">{% trans %}return to the home{% endtrans %}</a>.
    </p>
{% endblock %}