{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Access denied{% endtrans %}</h1>

    <p>
        {% trans %}The requested page couldn't be loaded due to security reasons. Checkout for any URL misspelling, having proper access rigths or {% endtrans %}<a href="{{ path('app_start_index') }}">{% trans %}return to the homepage{% endtrans %}</a>.
    </p>
{% endblock %}