<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <div class="container">
        <a href="{{ path('app_start_index', {'_locale': app.request.attributes.get('_locale')}) }}"
           class="navbar-brand">{{ "%name% Research Group"|trans({'%name%': rgdata.name})|raw }}</a>
        <button class="navbar-toggler oi" type="button" data-toggle="collapse" data-target="#mobile-nav" data-glyph="menu">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                {% if is_granted(expression('"ROLE_ADMIN" in roles')) %}
                    <li class="nav-item">
                        <a href="{{ path('home_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Home{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('research_line_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Research lines{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('member_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Members{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('collaborator_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Collaborators{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('publication_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Publications{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('authorship_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Authorships{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('research_project_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Research projects{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('contact_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Contact{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('post_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}News{% endtrans %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_start_index', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Home{% endtrans %}</a>
                    </li>
                    <li class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('member_pub', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Members{% endtrans %}</a>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                                <a class="dropdown-item"
                                   href="{{ path('collaborator_pub', {'_locale': app.request.attributes.get('_locale')}) }}">{% trans %}Collaborators{% endtrans %}</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('publication_pub', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Publications{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('research_project_pub', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Research projects{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('contact_pub', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}Contact{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('post_pub', {'_locale': app.request.attributes.get('_locale')}) }}"
                           class="nav-link">{% trans %}News{% endtrans %}</a>
                    </li>
                {% endif %}
                <li class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a href="{{ path('app_start_index', {'_locale': 'en'}) }}"
                       class="nav-link"><span
                                class="flag-icon flag-icon-gb"> </span> English</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start"
                             style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                            <a class="dropdown-item" href="{{ path('app_start_index', {'_locale': 'es'}) }}"><span
                                        class="flag-icon flag-icon-es"> </span> Español</a>
                            <a class="dropdown-item" href="{{ path('app_start_index', {'_locale': 'fr'}) }}"><span
                                        class="flag-icon flag-icon-fr"> </span> Francais</a>
                        </div>
                    </div>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a href="{{ path('member_edit_self', {'_locale': app.request.attributes.get('_locale'), 'id': app.user.id }) }}"
                           class="nav-link">{% trans %}Edit myself{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">{#{% trans %}Logout{% endtrans %}#}<span class="oi"
                                                                                                    data-glyph="account-logout"></span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/login" class="nav-link">{#{% trans %}Login{% endtrans %}#}<span class="oi"
                                                                                                  data-glyph="account-login"></span></a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
