{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit authorship{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit authorship{% endtrans %}</h1>
    {{ include('authorship/_form.html.twig', {'button_label': 'Update' | trans}) }}
    {{ include('authorship/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('authorship_index') }}">{% trans %}Back to list{% endtrans %}</a>


{% endblock %}