{% extends 'base.html.twig' %}

{% block title %}{% trans %}Authorship index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Authorship index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Member{% endtrans %}</th>
                <th>{% trans %}Publication{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Year{% endtrans %}</th>
                <th>{% trans %}Type of authorship{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for authorship in authorships %}
            <tr>
                <td>{{ authorship.member.getFullName }}</td>
                <td>{{ authorship.publication.getTitle }}</td>
                <td>{{ authorship.publication.getType |trans }}</td>
                <td>{{ authorship.publication.getYear }}</td>
                <td>{{ authorship.typeOfAuthorship |trans }}</td>
                <td>
                    <a href="{{ path('authorship_show', {'id': authorship.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('authorship_edit', {'id': authorship.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('authorship_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}