{% extends 'base.html.twig' %}

{% block title %}{% trans %}New authorship{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new authorship{% endtrans %}</h1>

    {{ include('authorship/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('authorship_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}