{% extends 'base.html.twig' %}

{% block title %}{% trans %}Authorship{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Authorship{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Member{% endtrans %}</th>
                <td>{{ authorship.member.getFullName }}</td>
            </tr>
            <tr>
                <th>{% trans %}Publication{% endtrans %}</th>
                <td>{{ authorship.publication.getTitle }}</td>
            </tr>
            <tr>
                <th>{% trans %}Type of authorship{% endtrans %}</th>
                <td>{{ authorship.typeOfAuthorship|trans }}</td>
            </tr>

        </tbody>
    </table>

    <br>
    <a  class="btn btn-primary" href="{{ path('authorship_edit', {'id': authorship.id}) }}">{% trans %}Edit{% endtrans %}</a>
    <br>
    {{ include('authorship/_delete_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('authorship_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}